body {
    margin-top: 60px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #0b2223;
}

.container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin: auto;
    background-color: rgb(19, 97, 94);
    border: 3px solid rgb(77, 152, 238);
    height: 400px;
    border-radius: 12px;
}

form {
    border: 3px solid  ;
    height: 370px;
    margin-top: 15px;
    border-radius: 12px;
    
}

input {
    width: 700px;
    text-align: center;
    height: 34px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  border-radius: 10px;
  top: 5px;
    
}


.close {
    margin: 30px;
    font-size: 20px;
    cursor: pointer;
}

.close:hover {
    cursor: pointer;
    color: red;
}

.li {
    list-style: none;
   text-align: center;
   border: 2px solid rgb(232, 177, 148);
   border-radius: 10px;
   margin: 6px;
   padding: 3px;
   

}
